footer.Footer
  .container 
    .Footer-wrapper 
      h2.Footer-title Cơ sở dữ liệu ngành công thương tỉnh nam định
      p.Footer-description Chịu trách nhiệm chính: Bà ABC - Giám đốc Sở Công Thương
      p.Footer-description Địa chỉ : Trường Chính trị Trường Chinh, 31 Vị Xuyên, Street, TP. Nam Định, Nam Định, Việt Nam
      p.Footer-description Hotline: 02283648409      |      Email: socongthuongnamdinh@gmail.com      |      Fax: 02283648409