.HomePage {
  &-wrapper {
    column-gap: 4rem;
    row-gap: 3.6rem;

    &-item {
      &:first-child {
        flex: 1;
      }

      &:last-child {
        flex: 0 0 30rem;
        max-width: 30rem;

        .Banner {
          margin-bottom: 1.5rem;
        }
      }

      @media (max-width: 991px) {
        max-width: 100% !important;
        flex: 0 0 100% !important;
      }
    }
  }

  &-row {
    display: flex;
    flex-wrap: wrap;
    column-gap: 4rem;
    row-gap: 3.6rem;

    &.half {
      .HomePage-col {
        flex: 0 0 calc(50% - 2rem);
        max-width: calc(50% - 2rem);
      }
    }
  }

  &-col {
    &:first-child {
      flex: 0 0 calc(60% - 4rem);
      max-width: calc(60% - 4rem);
    }

    &:last-child {
      flex: 0 0 calc(40%);
      max-width: calc(40%);
    }

    .Post {
      &:not(:last-child) {
        margin-bottom: 2rem;
      }
    }

    @media (max-width: 991px) {
      flex: 0 0 100% !important;
      max-width: 100% !important;
    }
  }

  &-card {
    padding: 3.5rem .8rem;
    margin: 0 -.8rem;

    &.dark {
      background: rgba($boston-blue, 0.05);
    }
  }

  &-sticky {
    position: sticky;
    top: .8rem;
    padding: .6rem;
    background: $wild-sand;
  }
}