.Banner {
  &-image {
    position: relative;
    margin-bottom: .4rem;

    img {
      width: 100%;
      border-radius: .4rem;
    }

    &-caption {
      display: block;
      padding: 1.4rem;
      background: rgba($boston-blue, 0.6);
      font-size: 1.8rem;
      color: $white;
      text-align: center;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      text-transform: uppercase;
    }
  }

  &.linear-gradient {
    .Banner-info {
      background: linear-gradient(271.9deg, #0098D9 1.42%, rgba(0, 152, 217, 0.65) 48.82%, #0098D9 98.23%);
      justify-content: flex-start;
      text-align: left;

      &-text {
        text-transform: unset;
      }
    }
  }

  &-info {
    column-gap: .4rem;
    padding: .8rem .6rem;
    background: $cerulean;
    justify-content: center;
    text-align: center;

    &-icon {
      max-width: 1.6rem;
      flex: 0 0 1.6rem;
      width: 1.6rem;
      height: 1.6rem;
      @include centerOriginImage;
    }

    &-text {
      color: $white;
      font-size: 1.4rem;
      font-weight: 500;
      line-height: 1.8rem;
      text-transform: uppercase;
    }
  }
}