.Select {
  position: relative;

  .select2-container {
    width: 100% !important;
  }

  .select2-container--default .select2-selection--single {
    background: $white;
    border: 1px solid $alto;
    border-radius: 0;
    height: 4.2rem;
    padding: 0.4rem 0.8rem 0.4rem 1.6rem;
    font-size: 1.6rem;
    color: $black;
    @include ellipsis(1);
  }

  .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 2.6rem;
    top: .8rem;
    right: .8rem;
    width: 2rem;
  }

  .select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 0;
  }
}

.select2-results__option {
  font-size: 1.6rem;
  color: $black;
  padding: 1rem !important;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: $cerulean;
  color: $white;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  font-size: 1.6rem;
  outline: none;
}