/* https://chir.ag/projects/name-that-color */

$white: #fff;
$black: #000;

$alto: #D9D9D9;
$alizarin-crimson: #E21C1C;
$wild-sand: #F5F5F5;
$boston-blue: #3D8BC1;
$silver: #bcbcbc;
$alabaster: #F9F9F9;
$black-squeeze: #F5F9FC;