-
  const dataNavigation = [
    { link: 'index.html', title: 'Trang chủ', },
    { link: '#', title: 'Giới thiệu', },
    { link: '#', title: 'Tin tức', },
    { link: 'du-lieu-nganh-cong-thuong.html', title: 'Dữ liệu Sở Công Thương Nam Định' },
    { link: 'van-ban-phap-luat.html', title: 'Văn bản pháp luật', },
    { link: '#', title: 'Dữ liệu theo địa phương', subMenu: true },
    { link: 'thong-ke.html', title: 'Thống kê', },
    { link: '#', title: 'Liên hệ', },
  ]

  const dataCategory1 = [
    { link: '#', title: 'Khu Công nghiệp' },
    { link: '#', title: 'Cụm Công nghiệp' },
    { link: '#', title: 'Trung tâm thương mại' },
    { link: '#', title: 'Siêu thị' },
    { link: '#', title: 'Chợ' },
    { link: '#', title: 'Hội, Hiệp hội' },
    { link: '#', title: 'Hợp tác xã' },
    { link: '#', title: 'Doanh nghiệp bán hàng đa cấp' },
  ]

  const dataCategory2 = [
    { link: '#', title: 'Giấy phép sản xuất rượu' },
    { link: '#', title: 'Giấy phép điện lực' },
    { link: '#', title: 'Cửa hàng LPG' },
    { link: '#', title: 'Giấy phép KD thuốc lá' },
    { link: '#', title: 'Văn phòng đại diện' },
    { link: '#', title: 'Giấy phép vật liệu nổ' },
    { link: '#', title: 'Giấy phép Hóa chất' },
    { link: '#', title: 'Cửa hàng xăng dầu' },
    { link: '#', title: 'Trạm chiết nạp LPG' },
    { link: '#', title: 'Giấy phép doanh nghiệp FDI' },
    { link: '#', title: 'An toàn thực phẩm' },
  ]